<section class="about">
	<div class="container-fluid">
		<div class="col-md-7">
			<div class="row col-xs-12" id="first_row">
				<h1> What is Intervention?</h1>
				<h3>It's simple: </h3> 
				<h3>
					<div class="row col-xs-12 start_hidden" id="first_rule">
						<div class="col-xs-1">
							&bull;
						</div>
						<div class="col-xs-11">
							 Each round, one person reads off a question card
						</div>

					</div> 
					<div class="row col-xs-12 start_hidden" id="second_rule">
						<div class="col-xs-1">
							&bull;
						</div>
						<div class="col-xs-11">
							 Then everyone votes for the player who best represents the answer to that question
						</div>

					</div> 
					<div class="row col-xs-12 start_hidden" id="third_rule">
						<div class="col-xs-1">
							&bull;
						</div>
						 <div class="col-xs-11">
							Then everyone tries to guess how many votes they will receive
						</div>

					</div>
				</h3>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row col-md-12 ">
			</div>
			<div class="row col-md-12 text-center" id="pnp_top">
				<%= image_tag 'Interventioncards.png', :id => 'pnp_preview' %>
			</div>
			<div class="row col-md-12">
				<a class="btn btn-block btn-success" id="download_button" href="InterventionPNPv2.pdf" download>Download Print and Play<span id="displayblock"> (PDF)</span></a>
				<div class="metadata-buttons">
					<ul class="game-metadata">
						<li draggable="true"><span class="top_metadata">Ages</span><br>18+</li>
						<li class="middle" draggable="true"><span class="top_metadata">Players</span><br>4-12</li>
						<li draggable="true"><span class="top_metadata">Minutes</span   ><br>30-60</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</section>