<nav id ="chargenavbar" class="transparent navbar navbar-inverse" role="navigation">
	<div class="container">
			<div class="row">
				<div class="navbar-header redirectHome ">
						<object type="image/svg+xml" class="navlogo navbar-brand " data="<%= asset_path 'intervention-white.svg' %>"></object>
				</div>
				<ul class="nav navbar-nav navbar-right " id="navright">
					<li><a href="/#reviews" class="redirectNav">Reviews</a></li>
					<li><a href="/#about" class="redirectNav">About</a></li>
					<li><a href="/#vote" class="redirectNav">Vote</a></li>
					<li><a href="Intervention-PnP Instructions.pdf" target="_blank" id="nav-rules">Rules</a></li>
					<li><a href="InterventionPNPv3.pdf" id="nav-pnp" download>Download</a></li>
					<li><a href="https://www.facebook.com/playintervention" id="nav-fb" target="_blank"><i class="fa fa-facebook-square icon_large"></i></a></li>
					<li><a href="https://twitter.com/worsthabits" id="nav-twitter" target="_blank"><i class="fa fa-twitter-square icon_large"></i></a></li>
				</ul>
		</div>
	</div>
		</nav>