<section class="footer clearfix">
	<div class="col-xs-6">
		<object type="image/svg+xml" data="<%= asset_path 'intervention-black.svg' %>" class="footerlogo"></object>
	</div>
	<div class="col-xs-6 listcontainer">
		<ul class="col-xs-12 footerlist">
			<li><a href="Intervention-PnP Instructions.pdf" target="_blank"> RULES </a>
			</li>
			<li><a href="InterventionPNPv2.pdf" download> DOWNLOAD</a>
			</li>
			<li> <a href="mailto:support@playintervention.com" target="_top" title="Send an email to support@playintervention   .com">CONTACT US </a>
			</li>
		</ul>
	</div>
</section>