<section class="footer clearfix">
	<div class="col-xs-6">
		<object type="image/svg+xml" data="<%= asset_path 'intervention-black.svg' %>" class="footerlogo"></object>
	</div>
	<div class="col-xs-6 listcontainer">
		<ul class="col-xs-6 footerlist">
			<li><a href="Intervention-PnP Instructions.pdf" target="_blank"> RULES </a>
			</li>
			<li><a href="InterventionPNPv2.pdf" download> DOWNLOAD</a>
			</li>
			<li> <a href="mailto:support@playintervention.com" target="_top" title="Send an email to support@playintervention   .com">CONTACT US </a>
			</li>
		</ul>
		<div class="col-xs-6 creative_license">
		     <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
		        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
		    </a>
		    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Intervention</span> is licensed under
		    a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
			<br>
		    
		</div>
	</div>

</section>