<header>
	<div class="container-fluid text-center landing_main col-md-12 slideRight">
		<div class="row col-md-8 col-md-offset-2 text-center" id="landing_row">
			<h1 id="tagline">A Free Party Game for Everyone's Worst Habits</h1>
		</div>
		<div class="row col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 text-center ks_button_div">
			<a href="http://kck.st/1srNSmc" class="btn btn-block btn-default", id="ks_button_link"><%= image_tag "backusbutton.png", :id => "ks_button" %></a>
		</div>
	</div>
	<%= render 'video' %>
	<%= render 'navbar' %>
</header>