<section class="mailchimp">
    <div class="container-fluid">
        <div class="row col-md-8 col-md-offset-2 text-center">
        <h1>Stay Tuned! </h1>
        <p> If you'd like us to send you updates as we continually improve the game, add your email below! </p>
        <div id="mc_embed_signup">
            <form action="//playintervention.us8.list-manage.com/subscribe/post?u=96a5445c5536a404019cab3da&amp;id=bc60e02ce5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address here" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_96a5445c5536a404019cab3da_bc60e02ce5" tabindex="-1" value="">
                </div>
                <div class="clear col-md-4 col-md-offset-4">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-block subscribe">
                </div>
            </form>
        </div>
    </div>
    </div>
</section>