<section class="newcard clearfix">
	<div class="container">
		<h1> Suggest a new card </h1>
		<h2> (and we may include it!)</h2>
		<div class="row col-md-8 col-md-offset-2 form">
			<form id="create_new">
				<span id="errors"></span>
				<textarea name="content" maxlength="140" placeholder="Suggest a new card..." cols="50"></textarea>
				<br>
				<input type="text" maxlength="30" placeholder="Your Name" name="created_by" id="yourname">
				<br>
				<br>
				<div class="col-md-offset-4 col-md-4 ">
					<input type="Submit" class="btn btn-success btn-block" id="submit_new">
				</div>
			</form>
		</div>
	</div>
</section>