<section class="reviews">
		<div class="container container-xs-height">
			<div class="row col-md-10 col-md-offset-1 text-center row-xs-height" id="reviews">
				<%= image_tag "laurel-left.svg", :class => "laurel col-xs-2", :id=>"laurel-left" %>
				<div class="review_content col-xs-8 v-center text-center">
					<p id="the_reviews"><span id="quote"></span> <span id="quote_author"></span> <a id="quote_link" target="_blank"></a></p> 
				</div>
				<%= image_tag "laurel-right.svg", :class => "laurel col-xs-2 ", :id=> "laurel-right" %>
			</div>
		</div>
	</div>
</section>