<section class="clearfix" id="vote">
	<div class="container-fluid">
		<div class="row col-xs-8 col-xs-offset-2">
			<h1> Vote for Your Favorite Cards </h1>
			<div class="col-xs-4 card_display" id="card1">
				<span></span>
				<p></p>
				<object type="image/svg+xml" class="cardlogo" data="<%= asset_path 'intervention-white.svg' %>"></object>
				<i class='fa fa-check-circle-o hide checkmark'></i>
			</div>
			<div class="col-xs-4">
				<h1 id="vs"> VS </h1>
			</div>
			<div class="col-xs-4 card_display" id="card2">
				<span></span>
				<p></p>
				<object type="image/svg+xml" class="cardlogo" data="<%= asset_path 'intervention-white.svg' %>"></object>
				<i class='fa fa-times hide ex'></i>

			</div>
		</div>
	</div>
</section>