  <%= render 'share_nav' %>
  <div class="container share">
    <section id="thank_you">
      <p><span class="bold">Hello beautiful,</span><br><br>

        Hope you're having an awesome day. You're here because you have influence. When you share something, people pay attention. So, please take a few seconds to spread the word about Intervention to your fellow heroes out there. And who are the heroes? The people who play this game. <br><br>

        <span class="bold">Yours truly,</span> <br>
        Francis, Vieje, and John
      </p>
      <div id="progress_bar">
        <div id="percent">
          <div id="percentage">0%</div>
        </div>
      </div>
    </section>
    <div class="row col-xs-12">
    <ul>
      <li class="col-xs-4">1. Share on <br> Facebook
        <div class="social_link">
         <button class="facebook_share social_button"><i class="fa fa-facebook-square"></i>
          Share</button>
        </div>
      </li>
      <li class="border-left col-xs-4">2. Post on <br>Twitter
        <div class="social_link">
          <button class="twitter_share social_button"><i class="fa fa-twitter"></i>Tweet</button>
        </div>
      </li>
      <li class="border-left col-xs-4">3. Watch our <br>Video
        <div class="social_link">
          <button class="kick_share social_button">
            <%= image_tag 'kickstarter-logo.png' %></button>
        </div>
      </li>
    </ul>
  </div>
  </div>

