<%= render 'chargenavbar' %>

<div id="chargepage">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div id="chargesuccess">
					<div class="text-center">
					<h1 class="bigEntrance">S</h1><h1 class="bigEntrance">u</h1><h1 class="bigEntrance">c</h1><h1 class="bigEntrance">c</h1><h1 class="bigEntrance">e</h1><h1 class="bigEntrance">s</h1><h1 class="bigEntrance">s</h1><h1 class="bigEntrance">!</h1>
				</div>
				<h2>Thanks, you have pre-ordered Intervention for <strong>$25.00</strong>!</h2>
				<br/>
				<p>We are on target for shipping Intervention by June 2015. Feel free to contact us at support@playintervention.com for any questions to order more units or change your order. </p>
				<p>You should be receiving an receipt at:<span class='bold'> <%= @email %></span> shortly, and we will notify you there when your order is on its way.</p>
				<br />
				<p><span class="bold"> We love you, </span><br/>
				Francis, Vieje, and John </p>
				<br/>
				<div class="text-center">
				<a href="/" id="backtohome" class="btn btn-success"><i class="fa fa-long-arrow-left"></i> Back to home</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>


